<template>
  <div class="container-player">
    <Player :music-xml="musicXml" class="player"/>
    <div class="controls">
      <play-pause-button class="button"/>
      <stop-button class="button"/>
    </div>
  </div>
</template>

<script>
import Player from '@/components/Player.vue'
import PlayPauseButton from '@/components/PlayPauseButton.vue'
import StopButton from '@/components/StopButton.vue'

export default {
  name: 'PlayerContainer',
  components: {
    Player,
    PlayPauseButton,
    StopButton,
  },
  props: {
    musicXml: String
  }
}
</script>

<style>
  .container-player {
    --control-height: 120px;
    --button-height: 80px;
    --color-cursor: #3757A8;
    padding-bottom: var(--control-height);
    user-select: none;
  }
  .controls {
    align-items: center;
    background: #fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: var(--control-height);
    position: fixed;
    width: 100%;
  }
  .button {
    background: none;
    border: none;
    height: var(--button-height);
    margin: 0 0.5em;
  }
  .button img {
    height: var(--button-height);
  }
  .player img {
    background: var(--color-cursor);
    opacity: 0.85;
    margin-top: -15px;
    margin-left: 10px;
    /* transition: left 250ms linear; */
  }
</style>
