<template>
  <button type="button" v-on:click="pauseAction" v-if="sharedState.playing">
    <img src="@/assets/buttons/pause.png" alt="Pause">
  </button>
  <button type="button" v-on:click="playAction" v-else>
    <img src="@/assets/buttons/play.png" alt="Play">
  </button>
</template>

<script>
import store from '@/services/store/index'

export default {
  name: 'PlayPauseButton',
  data() {
    return {
      sharedState: store.state
    }
  },
  methods: {
    playAction() {
      store.playAction()
    },
    pauseAction() {
      store.pauseAction()
    }
  }
}
</script>
