<template>
  <div class="score" ref="score" :key="scoreKey"></div>
</template>

<script>
import { OpenSheetMusicDisplay } from 'opensheetmusicdisplay'
import store from '@/services/store/index'

const loadScore = async (scoreElement, musicXml) => {
  const osmd = new OpenSheetMusicDisplay(scoreElement)
  await osmd.load(musicXml, true)
  await osmd.render()
  store.initOsmdAction(osmd)
}

export default {
  name: 'Player',
  props: {
    musicXml: String
  },
  data () {
    return {
      scoreKey: 0
    }
  },
  watch: {
    musicXml(value, oldValue) {
      if (value === oldValue) return
      this.scoreKey+=1
      const scoreElement = this.$refs.score
      loadScore(scoreElement, value)
    }
  },
  mounted() {
    loadScore(this.$refs.score, this.musicXml)
  }
}
</script>

<style scoped>
.score {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(95vh - var(--control-height));
}
</style>
