<template>
  <button type="button" v-on:click="stopAction">
    <img src="@/assets/buttons/stop.png" alt="Stop">
  </button>
</template>

<script>
import store from '@/services/store/index'

export default {
  name: 'StopButton',
  methods: {
    stopAction() {
      store.endAction()
    }
  }
}
</script>
