<template>
  <div id="app">
    <PlayerContainer :music-xml="xmlData" :key="containerKey"/>
  </div>
</template>

<script>
import PlayerContainer from '@/components/PlayerContainer.vue'
import musicXml from '@/assets/score-example-big.xml'
import debounce from 'debounce'

// eslint-disable-next-line no-undef
const isDev = process.env.NODE_ENV=='development' || process.env.NODE_ENV=='test'

export default {
  name: 'App',
  components: {
    PlayerContainer,
  },
  props: {
    musicXml: String,
  },
  data () {
    return {
      containerKey: 0,
    }
  },
  methods: {
    rerenderContainer () {
      this.containerKey+=1
    },
    resizeEvent () {
      return debounce(this.rerenderContainer, 200)
    }
  },
  mounted () {
    window.addEventListener('resize', this.resizeEvent)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.resizeEvent)
  },
  computed: {
    xmlData() {
      if (isDev && !this.musicXml) {
        return musicXml
      }
      return this.musicXml
    }
  }
}
</script>

<style>
#app,
#app * {
  box-sizing: border-box;
}
</style>
